/* Style for footer.php */
html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}
footer {
    border-top: 1px solid gray;
    padding: 10px 0 10px;
}
/* ------------------------------- */
/* Style for 404.php */
.page-404 {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    justify-content: center;
    min-height: 85vh;
}
.page-404 img {
    mix-blend-mode: multiply;
    position: absolute;
    transform: translateX(-12%) translateY(-2%);
    width: 30%;
}
.page-404__title {
    display: flex;
    font-weight: 700;
    font-size: 15em;
    justify-content: center;
    line-height: .7;
    margin-bottom: 1rem;
}
.page-404__title__letter {
    align-items: center;
    display: flex;
    padding: .5rem;
    margin: 10px;
}
.page-404__title__circle {
    background-color: #4169E1;
    border-radius: 1em;
    height: 1em;
    width: 1em;
}
.page-404__subtitle {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
/* ------------------------------- */
.logo {
    max-height: 50px;
}
.error {
    color: red;
}
.success {
    color: green;
}